.yael {
	display: inline-flex;
	align-items: center;
	line-height: 1;
	
	
	
}
p{
	float: left;
	margin-bottom: 6px;
	color: #1fb2dc;
	margin-left: 10px;
	
}
.card-col {
	margin-left: -1px;
	margin-bottom: -1px;
	border: 1px solid #121212;
	flex: 16%;
	max-width:16%;
	display: block;
}

hr.fw{
	display:block;
	clear:both;
	margin-top:50px;
	margin-bottom:43px;
	width:100%;
	height:1px;
	border:0;
	background:#e4e4e3;
}
/*Shopping*/
.card-title {
	color: #fff;
	font-size: 200%;
	font-weight: 600;
	font-family: 'lato','Lucida Grande' 'Lucida Sans', 'DejaVu Sans', Verdana, 'sans-serif'
	
}
.card-text {
	color: #fff;
	text-align: left;
}
.card-title-yael {
	color:  #060606;
	font-size: 200%;
	font-weight: 600;
	font-family: 'lato','Lucida Grande' 'Lucida Sans', 'DejaVu Sans', Verdana, 'sans-serif'
	
}
.card-text-yael {
	color:  #060606;
	
}
 

/* product category*/
h6 {
	color: #060606;
	text-align: center;
}
h4 {
	margin-bottom:30px;
	
}
/*best sellers*/
.space-10 {
	padding-right: 35px;
	padding-bottom: 20px;
}
.card-text-sellers {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    color: #bfab80;
    line-height: 1;
    margin-bottom: 8px;
	
}
.card-title-sellers {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 6px;
	line-height: 1.5;
}
.price {
	font-weight: 600;
	font-size: 16px;
	color: #b04031;
	cursor: grab;
	margin-bottom: 0;
	
}
del {
	opacity: .5;
}
.badge-danger{
	border-radius: 50%;
	padding: 4px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	z-index: 20;
	pointer-events: none;
	
}
.col-xl-12 {
	margin-bottom: 45px !important;
	background-color: #fbeacf !important;
	padding-top: 24px !important;
	padding-bottom: 24px !important;
	padding-left: 24px !important;
	padding-right: 24px !important;
	
	
}


/*jack*/
.cus_width{
min-width: 690px !important;
    
}

@media (max-width: 792px)
{


    .cus_width{



        width:  auto !important;
        
    }
    
}
.btn-inside {
	  margin-left: -204px;
  
}
.col_words {
	padding: 25px !important;
	color:white !important;
	
}

.col_p {
	font-size: 12px;
font-weight: 700;
}

.col_header {
	font-size:120%;
	font-weight: 600;
}

.col_color {
	background: #ca2c34;
}

.zeroed {
margin: 0!important;
	padding: 0!important;
	
}

.co_height {
	height: auto;
}

.our_bg_color {
	background: #25364d;
}



.coles {
	width: 300px; 

  display: flex;
  flex-wrap: wrap;
}

.fig {
	margin: 20px;
}

.small-12 {
	display: inline-flex;
}

.pf {
	display: inline-flex;
}

.thb-paeyment-icons {
	list-style: none;
margin: 0;
    padding: 0!important;
display: inline-flex;
}


.thb-payment-icons li {
	display: inline-flex;
	text-align: center;
	justify-content: center;
	border: 1px solid #eee;
	border-radius: 2px;
	background: #fff;
	height: 26px;
	align-items: center;
	min-width: 38px;
	padding: 0 4px;
	font-size: 16px;
	margin:50px;
}

.n {
	list-style: none;
}

.menu {
	    padding: 0!important;
}

#nav_menu-3 {
	    padding: 0!important;
}

#exampleSlider {
	border: none !important;
}
